*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    border: border-box;
}
 .navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
 }
 .nav-logo{
    height: 50px;
    width: 100px;
 }
 .border{
    border: 1px solid transparent;
 }
 .border:hover{
    border: 1px solid white;
    
 }
.logo{
    background-image: url(logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

/* nav-address */
.first-add{
    position: relative;
    left: 15px;
    font-size: 0.9rem;
    color: #cccc;
}
.second-add{
    position: relative;
    left: 3px;
    font-size: 1rem;
    color: #ffff;
    font-weight: bold;
}
.loc-icon{
    display: flex;
    align-items: center;
}

/* search-bar */
.search-bar{
    height: 40px;
    width: 500px;
    background-color: rgb(227, 185, 31);
    display:flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select-search{
    height: 40px;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    text-align: center;
    background-color: #E6E6E6;
}
.input-search{
    height: 40px;
    width: 100%;
    border: none;
    font-size: 1rem
}
.icon-search{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
}
.search-bar:hover{
    border: 2.5px solid rgb(227, 185, 31);
}

/* accountandlistsonwards */
.hello{ 
    font-size: 0.75rem;
}
.nav-sec{
    font-size: 0.9rem;
    font-weight: bold;
}
 
.cart i{
    font-size: 2rem;
}
.cart{
    font-size: 1rem;
}

/* second-navbar */
.second-nav{
    background-color: #001a41;
    color: white;
    height: 40px;
    display: flex;
}
.all-icon{
    position: relative;
    top: 5px;
    height: 30px;
    margin-left: 15px;
    margin-right: 25px;
}
.content-nav{
    display: flex;
    position: relative;
    top: 5px;
    height: 30px;
}
.content-nav p{
    margin-right:25px ;
}

/* background-image */
.bg-img{
    background-image: url(bg_img.jpg);
    background-size: cover;
    position: absolute;
    top: 100px;
    width:  100%;
    height: 60%;
}
.go-left{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 40%;
    left: 3%;
}
.go-right{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 40%;
    right: 3%;
}
/* boxes */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d6eddb;
    height: 60%vh;
}

.box{
    margin-bottom: 2%;
    height: 350px;
    width: 23%;
    background-color: white;
}
.box-img{
    height: 250px;
    background-size:cover ;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a{
    color:#007185;
    text-decoration: none;
}
.box-content h2{
    margin-top: 0.5rem;
}

/* footer */
.foot-panel1{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel1 a{
    color: whitesmoke;
    text-decoration: none;
}

.foot-panel2{
    background-color: #232f3e;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   

}
.foot-inner{
    margin-top: 10%;
    width: 23%;
}
.foot-inner h3{ 
    color:white;
}
.foot-inner li {
    padding-top: 7px;
    color: white;
    list-style-type: none;
    font-family:'Courier New', Courier, monospace ;
    font-weight:100;
}

.foot-logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px ;
    width: 100px;

}

.foot-lang{
    margin-top: 1%;
    border-radius: 3px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    height: 1.5rem;
    width: 15%;
    text-align: center;
    padding: 3px;
}

/* last-foot */
.last-foot{
    height: 5rem;
    background-color: #131a22;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}
.pages{
    padding-top: 25px;
    margin-right: 5px;
}
.copyright{
    padding-top: 5px;
}


